.header{
    height: 120px;
    background-image: linear-gradient(0,#2a73dc,#f6f9fe);
}
.header__navbar{
    display: flex;
}

.header__navbar.list{
    list-style: none;
}

.header__navbar-item{
    display: inline-block;
}